# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
db.sqlite3
instance/
media/

# If using Django migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc

# Static files
staticfiles/
static/
collected_static/

# VS Code / PyCharm / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.cache
.coverage
nosetests.xml
coverage.xml
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# logs
*.log
*.out
*.err

# OS files
.DS_Store
Thumbs.db
