{% extends 'quiz/base.html' %}

{% block title %}Available Quizzes{% endblock %}

{% block content %}
    <article>
        <header>
            <h2>Available Quizzes</h2>
        </header>
        
        {% if quizzes %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>{{ quiz.title }}</td>
                            <td>{{ quiz.description|truncatewords:20 }}</td>
                            <td>{{ quiz.duration }}</td>
                            <td><a href="{% url 'quiz:quiz_detail' quiz.id %}" role="button">View Quiz</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No quizzes are available at the moment. Please check back later.</p>
        {% endif %}
    </article>
{% endblock %}
